html,body{
    height: auto;
    width: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
}


body{
    background-color: blanchedalmond;
    font-family: 'Delius Swash Caps';

}

header{
    background-color:  rgb(132, 156, 83); 
    border-bottom: 5px solid rgb(128, 151, 80);
    display: -webkit-flex;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.head-img img{
    overflow: hidden;
    width: 280px;
}

.name-profession{
    width: 300px;
    height: 70px;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.name{
    color: blanchedalmond;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;

}

.profession{
    color: blanchedalmond;
    letter-spacing: 2px;
}

.menu{
    font-size: 20px;
    word-spacing: 80px;
    letter-spacing: 2px;
    color: blanchedalmond;
    position: absolute;
    left: 1600px;
}

.menu-item a{
    text-decoration: none;
}

.menu-item a:visited{
    color: inherit;
}

.menu-item:hover{
    color: #1F7B3B;
}

#garland{
    width: 45px;
    height: 45px;
}

#garland2{
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    right: 1px;
}

.main-section{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 800px;
    width: 100%;
}

.headshot{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    padding: 5px;
    margin: 5px;
    margin-right: 50px;
    width: fit-content;
}

#jahan{
    border-radius: 50%;
    height: 470px;
    width: 380px;
}


.about-me{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    padding: 3px;
    margin: 3px;
    width: 40%;
    border-radius: 10px;
    color: #114722;
}

.title{
    font-size: 35px;
    margin-bottom: 40px;
    color: #144e25;
}


.paragraph{
    word-spacing:3px;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 30px;
}


.experience-section{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(252, 228, 194);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;




    height: auto;
    min-height: 100%;
    overflow: hidden;
    width: auto;
    margin-bottom: 50px;
    padding: 50px;

}

.experience-header{
    width: 100%;
    height: auto;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}


.line{
    width: 600px;
    height: 10px;
    background-color:#124722 ;
    border-radius: 20px;
}


.experience-title{
    letter-spacing: 2px;
    color: #124923;
    font-weight: 500;
}

.col{
    width: 40%;
    height: fit-content;
    padding: 10px;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

}

.card-container{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;


    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.card{
    background-color:  rgb(132, 156, 83, .1);
    margin: 10px;
    padding: 2px 10px;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.05), 4px 4px 8px rgba(0,0,0,.1);
    box-shadow: 8px 8px 8px rgba(0,0,0,.05), 4px 4px 8px rgba(0,0,0,.1);
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
}

.experience-divider{
    width: 5px;
    height: 300px;
    background-color:  rgb(132, 156, 83, .2);
    border-radius: 40%;
}


.fa-person-chalkboard{
    font-size: 60px;
    color: #1F7B3B;
    margin-bottom: 10px;

}

.fa-user-graduate{
    font-size: 60px;
    color: #1F7B3B;
    margin-bottom: 10px;
}


/* FOOTER STUFF */

#footer1{
    height: 60px;
    width: 100%;
    background-color: rgb(132, 156, 83);
    color: blanchedalmond;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.email-section{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 40px;
    -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    font-size: 20px;

}



.follow-me-section{
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    font-size: 20px;
    letter-spacing: 1px;

}

.fa-envelope{
    color: #1F7B3B;
    font-size: 30px;
    margin-right: 10px;
}

.fa-brands{
    color: #1F7B3B;
    font-size: 30px;
    margin-right: 10px;
}

.fa-brands:hover{
    color: blanchedalmond;
}
